<div id="wrapper">
  <zxing-scanner
    id="scanner"
    (scanSuccess)="onCodeResult($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    [enable]="scannerEnabled"
  >
  </zxing-scanner>

  <div *ngIf="!scannerEnabled" id="scannerOverlay"></div>
  <div *ngIf="scannerHasResult" id="scannerSuccess"></div>

  <!-- <div id="checkDiv"></div> -->

  <div *ngIf="shownButton === 0" class="mainButton" (click)="enableScanner()">
    <div id="label">SCAN</div>
  </div>

  <div *ngIf="shownButton === 1" class="mainButton" (click)="disableScanner()">
    <div id="label">STOP</div>
  </div>

  <div
    *ngIf="shownButton === 2"
    class="mainButton"
    (click)="continueScanning()"
  >
    <div id="label">CONTINUE</div>
  </div>
</div>
