<div id="wrapper">
  <ngx-scanner-qrcode
    id="scanner"
    #action="scanner"
    (data)="output = $event"
    (error)="onError($event)"
  ></ngx-scanner-qrcode>

  <p class="data">{{ output }}</p>

  <p *ngIf="action.isLoading">⌛ Loading video...</p>

  <div
    (click)="action.toggleCamera()"
    id="camera-button"
    class="btn"
    [class.btn-info]="!action.isStart"
    [class.btn-warning]="action.isStart"
  >
    <div id="label">SCAN</div>
  </div>
</div>

<!-- *ngIf="!action.isStart" -->
<!-- [disabled]="action.isLoading" -->
