<div id="wrapper">
  <zxing-scanner
    id="scanner"
    (scanSuccess)="onCodeResult($event)"
    [enable]="scannerEnabled"
  >
  </zxing-scanner>

  <!-- <div id="checkDiv"></div> -->

  <div *ngIf="shownButton === 0" class="mainButton" (click)="enableScanner()">
    <div id="label">SCAN</div>
  </div>

  <div *ngIf="shownButton === 1" class="mainButton" (click)="disableScanner()">
    <div id="label">STOP</div>
  </div>

  <div *ngIf="shownButton === 2" class="mainButton" (click)="enableScanner()">
    <div id="label">CONTINUE</div>
  </div>
</div>
