#scanner {
  position: absolute;
  width: 60vw;
  height: 60vw;
  left: 15%;
  top: 20%;
  border-style: solid;
  border-color: rgb(148, 148, 148);
  border-radius: 5px;
  border-width: 5vw;
}

#camera-button {
  position: absolute;

  width: 25vw;
  height: 25vw;
  bottom: 15%;
  left: 37.5%;
}
